@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}



@font-face {
  font-family: "Metropolis";
  src: url("./fonts/metropolis-latin-400-normal.ttf");
}

@font-face {
  font-family: "Metropolis_900";
  src: url("./fonts/metropolis-latin-900-normal.ttf");
}
@font-face {
  font-family: "Metropolis_700";
  src: url("./fonts/metropolis-latin-700-normal.ttf");
}
@font-face {
  font-family: "Metropolis_500";
  src: url("./fonts/metropolis-latin-500-normal.ttf");
}